APP_NAME=weather-service
ENVIRONMENT=local
LOG_LEVEL=INFO
DATABASE_URL=postgresql+psycopg2://user:password@localhost:5432/app
REDIS_URL=redis://localhost:6379/0
OPENWEATHER_API_KEY=ee67d8a1aa8f4a95aa84d29eb64002ec
